* {
  background-image: linear-gradient(
    to right,
    rgb(194, 97, 221),
    rgb(112, 145, 207)
  );
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.digit {
  font-size: 35px;
  margin-bottom: 10px;
}
.digit > span {
  padding: 14px;
  font-weight: 600;
}

.timer {
  /* border: 2px solid blue; */
  width: 30%;
  justify-content: center;
  margin: auto;
  margin-top: 20px;
  padding: 70px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.ani:hover {
  box-shadow: inset 400px 0 0 0 #9809f8;
  border: 1px solid black;
}
.button_slide {
  color: #fff;
  border: 2px solid rgb(216, 2, 134);
  border-radius: 10px;
  padding: 18px 36px;
  display: inline-block;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #3002d8;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}
.button_slide + .ani {
  color: black;
}
.s {
  color: black;
}
h2 {
  font-size: 45px;
}
button {
  margin-left: 5px;
}
.reset {
  margin-top: 8px;
  padding: 10px 165px 10px 165px;
}
